/**/.venv
/**/__pycache__
/**/.ipynb_checkpoints
/**/consolidacao_metadados.csv
/**/consolidacao_detalhes.csv
/**/consolidacao_estruturacao.csv
/**/consolidacao_final.csv
/**/layout_modelo.json
/**/jsonshema_modelo.json
/**/notebooks/modelo
/**/tmp/jsons
/**/modelo.py